@media only screen and (max-width: 1200px) {
    #header div div img, #header div div div {
        float:none;
        display:block;
        width:932;
        margin: 0 auto;
        
    }
    
    #header #overlay{
      margin-top:30vh;
  }}
  
  @media only screen and (max-width: 1000px) {
    .content {    
      width:625px;}
    .content div:nth-child(3n){
      margin-right:25px}
    .content div:nth-child(2n){
      margin-right:0px}



#uebermich img{
  margin: 0 auto;
  padding: 0;
  margin: 25px auto;
}

    #uebermich div div{margin: auto;
      width: fit-content;
      block-size: fit-content;}

    #uebermich p{
      text-align:center;
      margin:auto;
      width: fit-content;
      float:none;
      display: block;
      padding: 0;}
    
}

  
@media only screen and (max-width: 700px) {
  .content {
    width:325px;}
    .content div{
      width:150px;
      height:150px;}
  .content img{
    width:150px;
    height:150px;}

  h2, h1{
    font-size: 50px;}
  
  .nav a{
    padding:5 10px;
    font-size: 20px;}

#video div{
height:300px;
width:300px;
}
#uebermich div, #uebermich div p{
  font-size:20px;
  text-align:left;
  width:350px;
  margin:auto;
}

form{
width:350px;
}
  
  
}
    