body{
background:#3c391c;
background:url(../img/BGCover.jpg) no-repeat center center fixed;
background-size: cover;
margin:0;
}

#wrapper{
width:800px;
background:white;
margin:0 auto;
padding:20px 0 0;
}

#content1 img:first-child {
display:block;
margin: 40px auto 0;
width:150px;
}

#content1 div{
background:url(../img/Wines.jpg) no-repeat;
width:450px;
height:450px;
margin: 80px auto 0;
}


#content2{
width:100%;
padding:40px 0;
position:relative;
bottom:0;
background:black;
}

#content2 img{
display:block;
margin: 40px auto 60px;
width:500px;
}

p{
font-size:1em;
text-align:justify;
color:white;
font-family:Georgia, serif;
width:400px;
margin:0 auto 40px;

}





.impressum {
font-size:1.2em;
display:block;
margin-top:50px;
text-align:center;
color:#996;
text-decoration:none;

}

.impressum:hover{
color:white;
}